const env = process.env.APP_ENV;
const HASH_SALT = "hogehogehuga";
const SESSION_SECRET = env === "prod"
  ? "qaswdefrtgyhjuiklo"
  : "qaswdefrtgyhjuiklo";
const privKey = env === "prod"
  ? "/src/src/keys/jwt.key"
  : "./src/keys/jwt.key";
const pubKey = env === "prod"
  ? "/src/src/keys/jwt.key.pub"
  : "./src/keys/jwt.key.pub";
const apiUrl = env === "prod"
  ? "https://api.im-neko.dev"
  : "http://localhost:3000";

export { SESSION_SECRET, privKey, pubKey, apiUrl, HASH_SALT };
