{
   "type": "mysql",
   "host": "localhost",
   "port": 3008,
   "username": "user",
   "password": "password",
   "database": "app",
   "synchronize": false,
   "logging": false,
   "entities": [
      "src/entities/**/*.ts"
   ],
   "migrations": [
      "src/migration/**/*.ts"
   ],
   "subscribers": [
      "src/subscriber/**/*.ts"
   ],
   "cli": {
      "entitiesDir": "src/entities",
      "migrationsDir": "src/migration",
      "subscribersDir": "src/subscriber"
   }
}
